body{
  padding: 0;
  margin: 0;

footer, header{
    width:100%;
    background-color: #E0E0E0;
    nav ul {
        display: inline-block;
            li{
          text-decoration: none;
          display: inline-block;
          a{
            color:#2C2C2C
            text-decoration: none;

          }
              }
            }
          }


}

div .middlesection {
  margin: 0auto;
  padding: 0;
  width: 80%;
  background-color: blue;

}
  nav ul li{
      display: inline-block;
}
#leftbar {
    width:25%;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
    img{
      width: 100%;
      border-radius: 10px;
    }
          }

  #rightsection {
      width:60%;
      background-color: green;
      display: inline-block;
      vertical-align: top;
                }
nav ul li a{
    display: inline-block;
    text-decoration: none;
}

.inRepos ul li{
  display: inline-block;
vertical-align: top;

}
